* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@media (min-width: 481px){
   
}

@media (min-width: 769px){


}

@media (min-width: 1025px){

